
.banner-image {
    width: 100%;
    position: relative;
}

.banner-image img {
    width: 100%;
}

.text-overlay{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    padding: 20px;
    font-size: 2vw;
    width: 80%; 
}

.lawyer {
    padding: 10px 0;
    height: auto;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

.lawyer-head {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}

.lawyer-head h1 {
    font-size: 26px;
    font-style: italic;
    color: #d4a373;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.lawyer-head h2 {
    font-size: 30px;
    color:#023047;
}

.lawyer-detail {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 3% 10%;
    font-family: Arial, Helvetica, sans-serif;
}

.lawyer-detail img {
    width: 40%;
    height: 40%;
    max-width: 300px;
    margin-right: 5%;
    margin-top: 20px;
    border: 4px solid rgb(99, 89, 89);
}

.lawyer-detail p {
    font-size: 18px;
    line-height: 1.5;
    color: rgb(86, 80, 80);
}

@media(max-width: 740px) {
    .lawyer-detail img {
        display: none;
    }

    .lawyer-detail p {
        width: 100%;
    }
}

.area {
    background-image: url(../Images/homebackground.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 30px 0;
    height: auto;
}

.area-head {
    padding: 10px 10%;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    text-align: center;
}

#area-head-l1 {
    font-size: 16px;
    color:#3f3029;
    text-align: center;
}

#area-head-l2 {
    font-size: 26px;
    color:#023047;
    font-weight: 600;
    text-align: center;
}

#area-head-l3 {
    font-size: 18px;
    color: #3f3029;
    text-align: left;
    line-height: 1.3;
}

.area-detail {
    padding: 0 10%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
}

.area-detail-line {
    display: flex;
    flex-direction: row;
    height: auto;
}

.area-detail-column {
    border-radius: 5px;
    border: 1px solid rgb(74, 47, 15);
    margin: 20px 5%;
    width: 40%;
    text-align: left;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    color:rgb(86, 80, 80);
}

@media(max-width: 700px){
    .area-detail-line {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .area-detail-column {
        width: 100%;
    }
}

.area-detail-column:hover {
    background-color: rgb(247, 247, 247);
    border: 0;

}

.area-detail-column img {
    width: 30%;
    max-width: 100px;
    background-color: rgb(89, 122, 151);
    border-radius: 10%;
}

.area-detail-column h2 {
    font-size: 22px;
    font-weight: 600;
}

.area-detail-column p {
    box-sizing: border-box;
    line-height: 1.3;
}

.area-detail-column a {
    text-decoration: none;
    color: rgb(86, 80, 80);
    font-weight: 500;
}

.area-detail-column a:hover {
    color: rgb(89, 158, 218);
}

.feedback {
    padding-top: 30px;
    padding-bottom: 100px;
    height: auto;
    width: 100%;
    text-align: center;
    background-color: #f4f4f4;
}

.feedback-head{
    font-family: Arial, Helvetica, sans-serif;
}

#feedback-head-l1 {
    font-size: 16px;
    text-align: center;
    color: #826a5e;
}

#feedback-head-l2 {
    font-size: 26px;
    text-align: center;
    color:#023047;
    font-weight: 600;
}

.feedback-detail {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    
}

.feedback-columns {
    display: none;    
    padding: 0 6px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin: 0 10% 80px 10%;
}

.fb-text {
    display:flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.client-name {
    text-align: right;
    width: auto;
    height: 65px;
    background-color: rgb(89, 122, 151);
    padding: 5px 10px;
    font-size: 18px;
    color: aliceblue;
}

.client-say {
    text-align: left;
    flex: 1;
    width: auto;
    height: auto;
    background-color: #decbbd;
    padding: 10px;
    font-size: 18px;
    line-height: 1.3;
    color: rgb(86, 80, 80);
}

.client-photo img{
    height: 120px;
    position: absolute;
    left: 5%;
    transform: translateY(-50%);
    border: 2px solid;
    border-radius: 50%;
    border-color: aliceblue;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #282424;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color:#f2f2f2;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


