main {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.client-head p {
    font-style: italic;
    font-family: monospace;
    margin: 0 10%;
}

.gallery {
    margin: 2% 10%;
    display:flex;
    flex-wrap: wrap;
}

.gallery-item {
    box-sizing: border-box;
    width: calc(25% - 20px);
    margin: 10px;
    overflow: hidden;
    justify-content: center;
    position: relative;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

@media(max-width:1200px){
    .gallery-item{
        width:calc(33.333% - 20px);
    }
}

@media(max-width:800px){
    .gallery-item{
        width:calc(50% - 20px);
    }
}

@media (max-width:600px) {
    .gallery-item{
        width:calc(100% - 20px);
    }
}

.name {
    padding: 10px 0;
    margin:0;
    background-color: rgb(31, 33, 41);
    color:azure;
    height: 20px;
    display: block;

}

.cover{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(68, 75, 121, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s;
}

#name1:hover #cover1 {
    opacity: 1;
}

#name2:hover #cover2 {
    opacity: 1;
}

#name3:hover #cover3 {
    opacity: 1;
}

#name4:hover #cover4 {
    opacity: 1;
}

#name5:hover #cover5 {
    opacity: 1;
}

#name6:hover #cover6 {
    opacity: 1;
}

#name7:hover #cover7 {
    opacity: 1;
}

#name8:hover #cover8 {
    opacity: 1;
}

#name9:hover #cover9 {
    opacity: 1;
}

#name10:hover #cover10 {
    opacity: 1;
}

#name11:hover #cover11 {
    opacity: 1;
}

#name12:hover #cover12 {
    opacity: 1;
}