.contact-head {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    background-image: url(../Images/about_office.jpg);
    background-attachment: fixed;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-head img {
    width: 100%;
}

.contact-head-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: 400;
}

.contact-head-text h1 {
    font-size: 5vw;
    
}

.contact-head-text h2 {
    font-size: 4vw;

}

.contact-head-text p {
    font-size: 2vw;
}

.findtheway {
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 40px 10%;
    font-family: Arial, Helvetica, sans-serif;
}

#address {
    width: 40%;
    padding-right: 5px;
}

#address h1 {
    color: #000000;
}

#address h2 {
    color: #d4a373;
}

#googleMap {
    width: 60%;
    height: 450px;
    padding-left: 5px;
}

.contact-form {
    background-color: #f2f2f2;
    padding: 20px 30%;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.contact-form form {
    width: 100%;
}

.contact-form h1 {
    width: 100%;
    color: #023047;
}

.contact-form p {
    margin-bottom: 50px;
    width: 100%;
    color: #023047;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: rgba(230, 185, 70, 0.689);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: rgba(168, 144, 82, 0.689);
}

