.page-footer {
    justify-content: space-between;
    height: auto;
    width: auto;
    background-color: rgb(218,209,204);
}

.container{
    width: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
}

.row {
    height: auto;
    width:auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.row h1 {
    font-size: 18px;
    font-weight: bold;

}

.row a {
    text-decoration: none;
    color: #333;
    text-align: left;
}

.col-1 {
    width: 33.3%;
    flex-direction: column;
    padding-left: 10%;
}

#findmap {
    display: inline-block;
    padding: 12px 20px;
    background-color: rgba(230, 185, 70, 0.689);
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: backgrould-color 0.3s ease;
}

.col-2 {
    width: 33.3%;
    flex-direction: column;
    padding-left: 15%;
}

.col-3 {
    width: 33.3%;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.col-3 img{
    height: 30px;
    padding-top: 10px;
    padding-right: 20px;
}

.col-3 .logo-bottom {
    height: 40px;
    padding-top: 30px;
    text-align: left;
}

.footer-banner {
    height:40px;
    background-color: black;
    color: aliceblue;
    padding-left: 30px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    
}