.page-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: auto;
    background-color: rgb(218,209,204);
}

.main-logo {
    padding: 10px;
    width: 25%;
}

.main-logo img {
    height: 100px;
    padding-left: 25px;
}

.menu-bar {
    padding: 15px;
    width: 75%;
    height: 120px;
}

.callus {
    height: 20px;
    width: 100%;
    padding-top:10px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.callus a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.menu-list {
    height: 50px;
    width: 100%;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-list ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-list li {
    list-style: none;
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    padding-left: 25px;
}

.menu-list li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hamburger {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width: 930px){
    .callus {
        height: 20px;
        width: 100%;
        padding-top:10px;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family:Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    
    .callus a{
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }
    
    .menu-list {
        height: 50px;
        width: 100%;
        padding-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .menu-list ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    .menu-list li {
        list-style: none;
        display: inline;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        padding-left: 10px;
    }
    
    .menu-list li a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

}

@media(max-width: 650px){
    .menu-bar {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
    }

    .hamburger ul{
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .hamburger li {
        display: inline;
        margin: 0 20px;
    }

    .hamburger li a {
        text-decoration: none;
        color: #333;
    }

    .dropdown {
        position: relative;
    }

    .dropdown img{
        height: 40px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(218, 193, 79);
        min-width: 50px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        padding: 10px;
        display: block;
        text-decoration: none;
    }

    .dropdown-content a:hover {
        background-color: #555;
        color: aliceblue;
        
    }
}



