* {
    font-family: Arial, Helvetica, sans-serif;
}

.staff-head {
    width: 100%;
    text-align: center;
}

.staff-detail-row {
    display: flex;
    flex-direction: row;
    background-color: #dad5d5;
    margin: 20px 10% 5px 10%;
    
}

.staff-detail-row img {
    width: 30%;
    height: 30%;
    margin: 10px;
    max-width: 250px;
}

.staff-detail-text {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.staff-detail-text h1,h2,p{
    text-decoration: none;
    margin-top: 0;
}

.staff-detail-text h1 {
    font-size: 26px;
    color: #023047;
}

.staff-detail-text h2 {
    font-size: 20px;
    color: #d4a373;
}

.staff-detail-text p{
    line-height: 1.5;
    color: #023047;
}

.readmore-btn {
    padding: 10px;
    background-color: bisque;
    border: none;
    cursor: pointer;
    width: 150px;
    align-items: flex-end;
    font-weight: 600;
}

.readmore-btn:hover{
    background-color: #d4a373;
    color: #f5f4f4;
}

#readmorebtn1 {
    display: block;
}

#foldbtn1 {
    display: none;
}

#readmorebtn2 {
    display: block;
}

#foldbtn2 {
    display: none;
}

#readmorebtn3 {
    display: block;
}

#foldbtn3 {
    display: none;
}

.readmore-content {
    display: none;
}

.readmore-content p {
    line-height: 1.5;
}

.readmore-content img{
    height: 10px;
    width: 30px;
}