body {
    margin: 0;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    border:none;
    background-color: #333;
    color: rgb(178, 164, 34);
    outline: none;
    cursor: pointer;
    padding:15px;
    border-radius: 10px;
    font-size: 18px;
}

#topBtn:hover {
    background-color: #555;
}